*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 90px;
    /* padding: 70px 0; */
    /* width: 1000px; */
}
.banar-container{
    border: 1px solid saddlebrown;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    /* margin: 50px 20px; */
    margin: 40px 0 ;
    padding: 30px 100px;
    
}
.banar-title{
    color: #ffffff;
    border: 2px solid rebeccapurple;
}
.button-btn{
    margin-top: 20px;
    padding: 10px 30px;
}
.banar-img>img{
    width: 250px;
    height: 300px;
    border: 1px solid red;
    /* padding: 50px; */
}