*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 90px;
   
}
.banar-container{
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(176, 27, 27, 0.42);
    margin-top: 50px;
    
    
}
.banar-title{
    color: #ffffff;
  
}
.banar-title>h1{
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.banar-title>p{
    font-size: 15px;
    font-weight: 500px;
    line-height: 26px;
}
.button-btn{
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
}
.banar-img>img{
    width: 250px;
    height: 300px;
}
.banar-img>img:hover{
    cursor: pointer;
    
}

.sidebar-blogs-container{
    display: flex;
    margin-top: 40px ;
}
.sidebar{
    width: 200px;
    height: 200px;
    border: 1px solid darkblue;
    background-color: black;
    border-radius: 5px;
    margin-right: 15px;
    position: fixed;
    position: relative;
   
}
.sidebar>div> a{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 50px;
   
}
.article-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 20px;
}
.article{
    width: 300px;
    box-shadow: 2px 2px 4px gray;
}
.article-thamble img{
    width: 300px;
}
.article-title{
    margin-left: 10px;
    line-height: 26px;
}

.icon{
    display: flex;
  
}
.instagram{
    margin-left: 40px;
}
.view-all>.button-btn{
    text-align: center;
    background-color: rgb(117, 29, 23);
    margin-bottom: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    display: none;
}
/* footer start  */
 footer {
    
    background-color: black;
    text-align: center;
    padding: 70px 0;
 }
 footer>h1{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
 }
 hr{
    margin:20px 70px;
    color: whitesmoke;
  
 }
 .footer-info{
    margin: 20px 0;
 }
 .footer-info>a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
 }
 .footer-icon{
    color: #ffffff;
   
 }
 .footer-icon>i{
    margin-left: 20px;
   
    border: 1px solid rgb(87, 115, 61);
    border-radius: 20px;
    padding: 5px;
 }

                  /*---------------------------
                        Media Queries 
                  -------------- -------------- */

/* Mobile Devices start  */
@media only screen and (max-width:688px) {
    .banar-container{
        display: flex;
        flex-direction: column;
    }
    .sidebar-blogs-container{
        display: flex;
        flex-direction: column;
    }
    .article-container{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .footer{
        
    }
    .footer-info>a{
        display: block;
        margin: 10px;
        
    }
}
/* Mobile Devices End  */

 /* tablet devices Start  */

@media only screen and (min-width: 688px)and (max-width: 992px) {
    .banar-container{
        /* background-color: red; */
    }
    .sidebar-blogs-container{
        display: flex;
        flex-direction: column;

    }
    .sidebar{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        /* background-color: white; */
        
    }
    .sidebar>div> a{
        margin-left: 30px;
        
    }
    .article-container{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }
    .view-all>.button-btn{
        display: inline;
       
        
    }

}
/* tablet devices End  */
