.carts-container{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.card{
    padding: 20px;
    height: 150px;
    box-shadow:1px 1px 5px grey;;
}
.card-img>img{
    width: 90px;
    height: 50px;
}
.card-img{
    display: flex;
}
.card-title{
    text-align: center;
    margin-top: 15px;
}
.card-title >p{
    margin-top: 5px;
}
/* Mobile Devices Start  */
@media only screen and (max-width: 688px) {
    .carts-container{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
}
/* Mobile Devices End  */

/* Tablet Devices Start  */
@media only screen and  (min-width:688px) and (max-width:992px) {
    .carts-container{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }
    
}